<div class="nav-bar">
  <ul>
      <li><a href="/">HOME</a></li>
      <%if(!session._id){ %>
      <li><a href="/api/member/signin">SIGN IN</a></li>
      <li><a href="/api/member/signup">SIGN UP</a></li>
      <%}else{%>
      <li><a href="/api/member/logout">LOGOUT</a></li>
      <%}%>
  </ul>
</div>