<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <% include ./header.ejs %>

        <main role="main" class="container">

            <div class="starter-template">
                <h1>Hello
                    <span class="blue"><%= (session._id != null?session._id:'Stranger') %> !!</span>
                </h1>
                <p class="lead">여기는 홈페이지 입니다. 환영합니다~</p>
                <img src="/images/ajax_loader_orange_64.gif" alt="ajax로더">
            </div>

        </main>

        <% include ./footer.ejs %>
</body>

</html>