<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <% include ./header.ejs %>
    <main role="main" class="container">

      <div class="starter-template">
        <h1>회원관리</h1>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>No</th>
                <th>아이디</th>
                <th>가입일</th>
              </tr>
            </thead>
            <tbody>
              <% var total = data.length; %>
              <% for(var i = 0; i < data.length; i++){ %>
                <tr>
                  <td>
                    <%= (total - i) %>
                  </td>
                  <td>
                    <%= data[i].userid %>
                  </td>
                  <td>
                    <%= data[i].created %>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <% include ./footer.ejs %>

</body>

</html>