<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>Document</title>
  <script>
    function fncSubmit() {
      var form = document.getElementById('signupForm');

      if (form.passwd.value != form.passwd_again.value) {
        alert("비밀번호가 일치하지않습니다.");
        return false;
      }

      form.submit();
    }

    function init() {
      var success = <%= success%>;
      if (!success) {
        alert('<%= message%>')
      }
    }

  </script>
</head>

<body onload="init();" class="text-center">
  <% include ./header.ejs %>
  <form id="signupForm" action="signup" method="post" class="form-signin">
      <h2 class="form-signin-heading">회원가입</h2>
      <label for="userid" class="sr-only">아이디 : </label>
      <input type="text" id="userid" name="userid" placeholder="아이디" class="form-control" required autofocus/>
      <br/>
      <label for="passwd" class="sr-only">비밀번호 : </label>
      <input type="password" id="passwd" name="passwd" placeholder="비밀번호" class="form-control" required/>
      <label for="passwd_again" class="sr-only">비밀번호 확인 : </label>
      <input type="password" id="passwd_again" name="passwd_again" placeholder="비밀번호 확인" class="form-control" required/>
      <a href="/api/member/signup" class="sl-btn blue" onclick="fncSubmit(); return false;">가입하기</a>
    </form>

    <% include ./footer.ejs %>
</body>

</html>